%h1 Dashboard#index

%p Hello, #{@user.name}

%p
  = link_to image_tag(@user.avatar_url, size: '20x20'), github_url(@user.username)

= link_to 'Edit account', edit_dashboard_path
= link_to 'Watched repository lanking', activities_watches_path
