language: ruby
rvm:
  - 2.0.0
services:
  - mongodb
bundler_args: --without development:production --path vendor/bundle
before_install:
  - gem update bundler --no-rdoc --no-ri
before_script:
  - bundle exec rake db:create db:migrate
script: bundle exec rake
