defaults: &defaults
  github:
    client_id: <%= ENV['GITHUB_CLIENT_ID'] %>
    secret: <%= ENV['GITHUB_SECRET'] %>
  mailer:
    from: <%= ENV['MAILER_FROM'] %>

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
