defaults: &defaults
  base_url: http://example.com
  github:
    client_id: 'YOUR GITHUB CLINT ID'
    secret: 'YOUR GITHUB SECRET'
  mail:
    user_name: 'exampel@gmail.com'
    password: 'your password'

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
