.catch-phrase
  Watch your followings watching!

%section.members
  Members:

  %ul
    - @users.each do |user|
      %li
        = link_to(image_tag(user.avatar_url, size: '52x52'), user_path(user.username))
