.catch-phrase
  Watch your followings watching!

%section.members
  Members:

  %ul
    - @users.each do |user|
      %li
        = link_to gravatar_image_tag(user, '52x52'), stars_path(user.username)
