$font-size: 15px;
$link-color: #edb020;

@font-face {
  font-family: ABeeZee;
  src: local("ABeeZee"), url("ABeeZee-Regular.ttf") format("truetype");
}

@function divide-equally($count) {
  @return floor((100% - 1) / $count);
}

@mixin shadow($scale, $shading) {
  $bright: #eee;
  $dark:   #999;
  $box-shadow: 0 $scale $scale * 2 $bright * $shading, 0 $scale / 2 $scale * 2 $dark * $shading;

  -webkit-box-shadow: $box-shadow;
  box-shadow:         $box-shadow;
  -webkit-transition-property: -webkit-box-shadow;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: default;
  -moz-transition-property: box-shadow;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: default;
}

@mixin radius($scale) {
  -webkit-border-radius: $scale;
  -moz-border-radius: $scale;
  border-radius: $scale;
}

html {
  overflow-x: hidden;
  min-width: 550px;
}

body {
  background-color: #fff;
  color: #333;
  font-family: ABeeZee, verdana, arial, helvetica, sans-serif;
  font-size: $font-size;
}

nav {
  display: inline-block;
  float: right;

  li {
    text-align: right;
    border: none;
    min-width: $font-size * 7;
    display: inline-block;
  }
}

#content, header {
  margin: auto;
  max-width: 650px;

  img {
    margin: 0px 2px 0px 2px;
    padding: 1px;
    max-width: 100%;
    @include radius(5px);
    @include shadow(7px, 0.9);

    &:hover {
      @include shadow(9px, 0.7);
    }
  }
}

header {
  padding-top: 60px;

  h1 {
    display: inline-block;
  }
}

#content {
  padding: 0px 60px 30px 60px;
}

a {
  color: $link-color;
  text-decoration: none;

  &:visited {
    color: $link-color;
  }

  &:hover {
    text-decoration: underline;
  }
}

ul {
  padding: 0;
}

li {
  display: block;
  border-bottom: 1px solid #ddd;
  padding: 15px 0 6px 0;
}

.repo_name {
  font-size: $font-size * 1.2;
}

.starred_at, .stargazers {
  display: inline-block;
  text-align: right;
  float: right;

  & > .starred_at {
    float: none;
  }
}

.starred_at {
  font-size: $font-size / 1.3;
  font-style: italic;
}

.description {
  display: block;
  font-size: $font-size * 0.9;
  min-height: $font-size * 0.9;
}

#catch-phrase {
  font-size: $font-size * 1.15;
}

#members {
  display: block;
  min-height: 320px;
  padding: 40px 17px 0px 17px;

  li {
    display: inline-block;
    width: divide-equally(5);
    text-align: center;
    border: 0;
  }
}

#usage {
  ol li {
    display: list-item;
    border: none;
    margin: 10px 0px;
  }

  .join-us {
    margin: 30px 0px;
    display: block;
    font-size: $font-size * 1.5;
    text-align: center;
  }
}

#notice {
  font-size: $font-size * 1.38;
  color: green;
}

#alert {
  font-size: $font-size * 1.38;
  color: red;
}

footer {
  background: #eee;
  width: 100%;
  padding: $font-size * 4 0px;
  text-align: right;
  border-top: 1px solid #ddd;

  span {
    display: block;
    margin-right: $font-size * 2.5;
    color: #888;
    font-size: $font-size;
  }
}
