$font-size: 13px;

@function divide-equally($count) {
  @return floor((100% - 1) / $count);
}

@mixin shadow($scale, $shading) {
  $bright: #eee;
  $dark:   #999;
  -webkit-box-shadow: 0 $scale $scale * 2 $bright * $shading, 0 $scale / 2 $scale * 2 $dark * $shading;
  box-shadow:         0 $scale $scale * 2 $bright * $shading, 0 $scale / 2 $scale * 2 $dark * $shading;
  -webkit-transition-property: -webkit-box-shadow;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: default;
}

@mixin radius($scale) {
  -webkit-border-radius: $scale;
  -moz-border-radius: $scale;
  border-radius: $scale;
}

html {
  overflow-x: hidden;
  min-width: 550px;
}

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: $font-size;
}

#content {
  margin: auto;
  max-width: 650px;
  padding: 20px 60px 30px 60px;

  img {
    margin: 0px 2px 0px 2px;
    padding: 1px;
    max-width: 100%;
    @include radius(5px);
    @include shadow(7px, 0.9);

    &:hover {
      @include shadow(9px, 0.7);
    }
  }
}

a {
  color: #000;
  text-decoration: none;

  &:visited {
    color: #888;
  }

  &:hover {
    text-decoration: underline;
  }
}

ul {
  padding: 0;
}

li {
  display: block;
  border-bottom: 1px solid #ddd;
  padding: 15px 0 6px 0;
}

.stared_at, .stargazers {
  display: inline-block;
  text-align: right;
  float: right;

  & > .stared_at {
    float: none;
  }
}

.stared_at {
  font-size: $font-size / 1.3;
  font-style: italic;
}

.description {
  display: block;
  min-height: $font-size;
}

.members {
  display: block;
  min-height: 420px;
  padding: 40px 17px 0px 17px;

  li {
    display: inline-block;
    width: divide-equally(5);
    text-align: center;
    border: 0;
  }
}

.catch-phrase {
  font-size: $font-size * 1.15;
}

#notice {
  font-size: $font-size * 1.38;
  color: green;
}

#alert {
  font-size: $font-size * 1.38;
  color: red;
}

footer {
  background: #eee;
  width: 100%;
  padding: $font-size * 4 0px;
  text-align: right;
  border-top: 1px solid #ddd;

  span {
    display: block;
    margin-right: $font-size * 2.5;
    color: #888;
    font-size: $font-size;
  }
}
