%h1
  Watched repositories by #{@user.username}'s followings

%ul
  - @watch_events.watched_lanking.each do |repo_name, events|
    %li
      = link_to repo_name, github_url(repo_name)
      - events.each do |event|
        = link_to image_tag(gravatar_url(event['actor']['gravatar_id']), :size => '20x20'), github_url(event['actor']['login'])
