%h1
  Watched repositories by #{@user.username}'s followings

%ul
  - @watch_events.watched_ranking.each do |repo_name, events|
    %li
      %div
        = link_to repo_name, github_url(repo_name)
        - events.each do |event|
          = image_link_to_github_url_from_event(event)
      %div
        %span.repo_description{'data-repo_name' => repo_name}
        = github_button(repo_name)

:javascript
  jQuery(function($) {
    $('.repo_description').each(showRepoDescription);
  });
